<!--footer-->
<footer class="page-footer font-small cyan darken-3 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- linkedin -->
          <a class="fb-ic" href="##">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            <img class="h-size2" src="assets/icons/linkedin (1).png" alt="">
          </a>
          nosso linkedin

          <!-- email-->
          <a class="tw-ic" href="">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            <img class="h-size2" src="assets/icons/gmail.png" alt="">
          </a>
          fale conosco

          <!-- github-->
          <a class="gplus-ic" href="https://github.com/CaiqueMatheus/Sallus">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            <img class="h-size2" src="assets/icons/github-logo (2).png" alt="">
          </a>
          nosso Github

          <!--quem somos -->
          <a class="li-ic" href="quemSomos.html">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            <img class="h-size2" src="assets/icons/group (1).png" alt="">
          </a>
          Quem Somos

        </div>
      </div>
    </div>
  </div>

  <p class="text-center">O projeto Sallus foi fundado no dia 12 de junho de 2019</p>

  <div class="footer-copyright text-center py-3">© 2019 Generation:
    <a href="index.html"> sallus</a>
  </div>

</footer>
