<app-header></app-header>
<!-- section -->

<div class="images-mobile row">
  <img src="assets/Sallus- Visual Identity/sallus-_art-04.jpg" width="350px">
  <img src="assets/Sallus- Visual Identity/sallus-_art-06.jpg" width="350px">
  <img src="assets/Sallus- Visual Identity/sallus-_art-07.jpg" width="350px">
  <img src="assets/Sallus- Visual Identity/sallus-_art-03.jpg" width="350px">
</div>
<section>
<div class="container">
  <h2 class="titles-texts mb-2">Nossa hitória</h2>

  <hr class="line-blue">

  <p class="texts mb-5">
    O projeto Sallus foi fundado no dia 12 de junho de 2019, dentro de um curso de Web Java Full Stack entre os amigos
    <b>
      Caique, Giovanna, Luiz, Priscila e Vitor </b>. A iniciativa foi para poder apresentar como projeto final do
    curso,
    porém a equipe foi além e fundou a start-up Loyals, uma empresa voltada para investir em causas sociais de pessoas
    físicas e transformá-los em realidade. O grande destaque para o projeto Sallus é em poder ajudar pessoas que
    possuem equipamentos fisioterápicos, ortopédicos e hospitalares parados em casa a recuperarem o dinheiro que foi
    investido pontualmente com o intuito de ajudar quem necessita desses materiais. Além de ser um E-commerce C2C
    também tem um enfoque em ajudar os distribuidores novos no mercado a ingressarem com seus materiais à um preço
    mais acessível ao consumidor. O projeto também conta com a participação de sua comunidade na doação de produtos
    para casas de repouso, instituições e ONG's de diversas causas dentre elas o GRACC (Grupo de Apoio à Criança e
    Adolescente com Câncer).

  </p>

  <div class="container">
    <h2 class="titles-texts mb-2">Nossa missão</h2>

    <hr class="line-blue">

    <p class="texts mb-5">
      Abraçamos a causa da ajuda coletiva e em comunidade, além de sermos um E-commerce com enfoque social
      direcionamos materiais doados pelo usuário para instituições de caridade, casas de repouso e ONG's voltados para
      a área de saúde. Nossa missão é facilitar a vida de pessoas que desejam fornecer uma estrutura de tratamento à
      alguém, ou que quer recuperar o dinheiro investido em equipamentos de saúde parados em casa. Cuidamos de você do
      anúncio à entrega proporcionando o maior conforto possível no mínimo de tempo. Queremos fazer parte de sua vida,
      da prevenção ao tratamento estamos sempre juntos!
    </p>

    <p>
      O prazer de fazer o bem, é maior do que recebê-lo.
    </p>

    <div class="size-divs images-mobile text-center">
      <img src="assets/Sallus- Visual Identity/sallus-_logotipo-horizontal.jpg" width="500em">
    </div>
  </div>
</div>
</section>

<app-footer></app-footer>
