<main class="container">
  <h2>Detalhes do Produto</h2>
  <div class="left-column">
    <img data-image="black" src="assets/img/andadorsimples.jpg" alt="">
    <img data-image="red" class="active" src="assets/img/andadorfreedomplus.png" alt="">
  </div>
  <div class="right-column">
    <div class="product-description">
      <span>Andadores</span>
      <h1>Andador Plus</h1>
      <p>Ideal para pessoas com dificuldades de locomoção e da terceira idade que buscam um andador compacto
        para auxiliar em sua locomoção;
        Ideal para pessoas até 1,85m;
        Suporta até 100 Kg.</p>
    </div>
    <div class="product-configuration">
      <div class="product-price">
        <h2>Preço</h2>
        <span>R$ 70,99</span>
        <span>
          <button type="button" class="btn btn-success"> Adicionar ao carrinho</button>
          <button type="button" class="btn btn-success" >Voltar</button>
        </span>
      </div>
    </div>
