<app-header></app-header>
<div class="container text-center mb-5">
  <form class="form-signin">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        Login
      </a>
    </nav>
    <label for="email" class="sr-only">Endereço de email</label>
    <input type="email" id="email" class="form-control" placeholder="Seu email" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Sua Senha" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Lembrar de mim
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Entrar</button>
    <a class="mt-5 mb-3 text-muted" href="cadastro.html">Cadastre-se</a> <br>
    <a class="mt-5 mb-3 text-muted" href="index.html">voltar</a>
  </form>
</div>
<app-footer></app-footer>
